html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    width: 100%;
}

.grid-container {
    display: grid;
    width: 40vw;
    margin-left: 30vw;
}

.grid-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
    row-gap: 20px;
}

.grid-customization {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.pixel {
    border: 0 solid #111111;    
    transition: background-color 0.1s;
}

.pixel:hover {
    background-color: #444444;
}

.selected {
    background-color: #222222;
}

.grid-options button {
    width: 75%;
    height: 2rem;
    margin: 0 auto;
}

.row, .column {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}