html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
}

.grid-container {
    display: grid;
    width: 40vw;
}

.pixel {
    border: 0 solid #111111;    
    transition: background-color 0.1s;
}

.pixel:hover {
    background-color: #444444;
}

.selected {
    background-color: #222222;
}
