html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    padding: 0;
}

.grid-container {
    display: grid;
    width: 40vw;
}

.pixel {
    border: 0 solid black;
}